<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499590460369-j1st9f3pcrfd167pbkt9cgailis2kt5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499590460369-j1st9f3pcrfd167pbkt9cgailis2kt5a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>499590460369-q3thk6go5iedpqp8eco5vrt4jlujidvr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3RC3-Zk1Sd07D7KV9zqX-HlO8fnFQiic</string>
	<key>GCM_SENDER_ID</key>
	<string>499590460369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trelloClone</string>
	<key>PROJECT_ID</key>
	<string>boardify-app</string>
	<key>STORAGE_BUCKET</key>
	<string>boardify-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499590460369:ios:d2ca4a7dd2f1d1466be6f0</string>
</dict>
</plist>